.jumbotron {
  background-color: pink ;
  color:black;
  margin-top: 50px;

}

.btn {
  background-color: green;
  color:white;
}

 footer {
  padding: 10px 10px 0 10px;
  background-color: #F9EAE8;
  margin-bottom: 0px;
  margin-top: 10px;
}

 .card-hotel {
  flex: 1 250px;
  margin-top: 10px;
 }

 .btn-reserva {

width: 100%;
border-radius: 0px;

 }

 .footer-address-icon {
  padding-right: 10px;

 }

 .img-fluid {
  width: 100%
 }

.tab-content {
  padding-top: 10px;

}
