@pink: #ef9a9a;


.margenes(@top: 0px, @bottom: 0px) {

 margin-top: @top;
 margin-bottom: @bottom;
  
}


.jumbotron {
  background-color: @pink;
  color: black;
 .margenes(50px, 10px);
 }

.btn {
  background-color: green;
  color: white; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #F9EAE8;
  .margenes(10px, 0px); 
  }

.card-hotel {
  flex: 1 250px;
  .margenes(10px, 0px);
   }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  width: 100%; }

.tab-content {
  padding-top: 10px; }
